/* Global CSS*/
* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

h2 {
    font-weight: normal;
    color: rgb(0,107,163);
}

a {
    color: black;
}

a:visited {
    color: black;
}

main {
    margin-bottom: 50px;
}

/* HOME PAGE CSS */

/* CSS below is for the promotional sale after the navigation*/
#hp-promo-sale {
    background-color: rgb(255,131,0);
    padding: 10px;
    text-align: center;
}

#hp-promo-sale h2 {
    line-height: 0.5;
    color: white;
}

#hp-promo-sale a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,107,163);
    color: white;
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

#hp-promo-sale a:hover {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
}

/* CSS below is for the banner image below the promo sale*/
.banner_image {
    width: 100%;
    height: auto;
    filter: brightness(65%);
}

#hp_banner {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0px;

    /* Add contrast for accessibilty*/
    text-shadow: 2px 2px 5px black;
}

#hp_banner h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:normal;
    white-space: nowrap;
    font-size: 4vw;
}

#hp_banner a {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:lighter;
    font-size: 14px;
    color: white;
}

#hp_banner a:visited {
    color: white;
}

/* CSS below is for the quick payment section below the banner*/

/* Layout of all flex elements from left to right, and top to bottom */ 
.hp-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#hp-quick-payment {
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#hp-quick-payment h2 {
    font-size: 16px;
    line-height: 0.5;
    text-align: center;
}

#hp-quick-payment p {
    background-color: rgb(0,107,163);
    color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
}

#hp-quick-payment p:hover {
    background-color: white;
    color: black;
}

/* CSS below is for the main content (cards) below the quick payment*/

section.hp-content-card {
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

    /* Handles the hover animation */
    transition: all .2s ease-in-out;
}

section.hp-content-card:hover {
    transform: scale(1.05);
}

section.hp-content-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
