/* Global CSS*/
* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

h2 {
    font-weight: normal;
    color: rgb(0,107,163);
}

main {
    margin-bottom: 50px;
}

/* Header and Menu */
#navbar {
    background-color: white;
    z-index: 1;
}

.header-nav {
    display: block;
}

.logo {
    order: 0;
}

.logo-title {
    order: 1;
    flex: 1;
    line-height: 100px;
    font-size: 35px;
    color: #000;
    text-decoration: none;
    padding-left: 10px;
}

.menu {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 15px;
}

.menu-item {
    order: 2;
    position: relative;
    display: block;
    width: auto;
    text-align: center;
    padding: 20px;
    line-height: 70px;
}

.menu-item a {
    font-size: 25px;
    color: #000;
    text-decoration: none;
}

.menu-item a:hover {
    color: #ccc;   
}

.active a {
    color: #ccc;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
}

/* HOME PAGE CSS */

/* CSS below is for the promotional sale after the navigation*/
#hp-promo-sale {
    background-color: rgb(255,131,0);
    padding: 10px;
    text-align: center;
}

#hp-promo-sale h2 {
    line-height: 0.5;
    color: white;
}

#hp-promo-sale a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,107,163);
    color: white;
    width: 130px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
}

#hp-promo-sale a:hover {
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 2px;
}

/* CSS below is for the banner image below the promo sale*/
.banner_image {
    width: 100%;
    height: auto;
    filter: brightness(65%);
}

#hp_banner {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0px;

    /* Add contrast for accessibilty*/
    text-shadow: 2px 2px 5px black;
}

#hp_banner h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:normal;
    white-space: nowrap;
    font-size: 4vw;
}

#hp_banner a {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight:lighter;
    font-size: 14px;
    color: white;
}

/* Stops link text changing colour*/
#hp_banner a:visited {
    color: white;
}

/* CSS below is for the quick payment section below the banner*/

/* Layout of all flex elements from left to right, and top to bottom */ 
.hp-flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#hp-quick-payment {
    padding: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#hp-quick-payment h2 {
    font-size: 16px;
    line-height: 0.5;
    text-align: center;
}

#hp-quick-payment p {
    background-color: rgb(0,107,163);
    color: white;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    width: 80px;
}

#hp-quick-payment p:hover {
    background-color: white;
    color: black;
}

/* CSS below is for the main content (cards) below the quick payment*/

section.hp-content-card {
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

    /* Handles the hover animation */
    transition: all .2s ease-in-out;
}

section.hp-content-card:hover {
    transform: scale(1.05);
}

section.hp-content-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hp-underline {
    text-decoration: underline;
}

/* main container of rides articles  */
.rides-container {
  display: flex;
  justify-content: space-space-between;
  flex-wrap: wrap;
  margin: 25px;
  text-align: center;
}

/* rides article  */
.rides-content {
  margin: 25px 0 0 25px;
  flex: 1;
  flex-basis: 40%;
  color: grey;
  border-radius: 5px;
  box-shadow: 0 3px 15px;
  
  /* Handles the hover animation */
  transition: all .2s ease-in-out;
}

.rides-content:hover {
    transform: scale(1.05);
}

/* rides main image */
.rides-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

/* rides icon image */
.rides-icon {
  margin-bottom: -10.5px;
}

/* Ticket Page styles */
        /* Styling to use the flex property value, creating a section to place the boxes */
        .tp-flexContainer {
            display: flex;
            flex-direction: row;
            width: 90%;
            margin:auto;
        }

        /* Sets the spacing and creates an outline for everything inside a payment box */
        .tp-flexHeader {
            border-width: 2px;
            border-color: black;
            border-style: solid solid dashed;
            border-radius: 15px 15px 0px 0px;
            background-color: cornflowerblue;
            width: 20%;
            margin-left: 5%;
            margin-right: 5%;
            padding: 1px;
        }

        .tp-flexBox {
            border-width: 2px;
            border-color: black;
            border-style: none solid none;
            width: 20%;
            margin-left: 5%;
            margin-right: 5%;
            padding: 1px;
        }

        .tp-flexPrice {
            border-width: 2px;
            border-color: black;
            border-style: dashed solid solid;
            border-radius: 0px 0px 15px 15px;
            width: 20%;
            margin-left: 5%;
            margin-right: 5%;
            padding: 1px;
        }



        /* Overwrites the default margin of the h1 default styling */
        .tp-paymentHeader {
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .tp-price{
            font-weight: bold;
            text-align: right;
            padding-right: 10px;
        }

        /*The two styles below used to strike out a default price and replace it with a highlighted, bold price. The intent is to drive more people to select the specific option.*/
        .tp-highlightedPrice{
            font-weight: 800;
            color: red;
            text-align: right;
            padding-right: 10px;
        }

        .tp-strickenPrice{
            font-weight: 100;
            color: darkgray;
            text-decoration:line-through;
            text-align: right;
            padding-right: 10px;
        }

        .tp-planPoints{
            padding-bottom: 15px;
        }
